/Ansys HFSS/Project1.aedtresults
/simulation/antenna/dipole1.aedtresults
/simulation/antenna/series_fed_patch.aedtresults
/impl/proj/
/impl/tcl/NA/
/impl/matlab/signal.mat
/impl/matlab/signal_data.h
/impl/proj_zuplus/sgen_system/
/impl/proj_zuplus/HPC_test/
/impl/proj_zuplus/dma_fft/
/impl/proj_zuplus/dma_fft_vitis/
/impl/proj_zuplus/hls/
/impl/proj_zuplus/buffer_test/buffer_test/
/impl/proj_zuplus/buffer_test/ip_repo/



