/Ansys HFSS/Project1.aedtresults
/simulation/antenna/dipole1.aedtresults
/simulation/antenna/series_fed_patch.aedtresults
**/Debug
/impl/proj/radar_sp/radar_sp.runs
/impl/proj/radar_sp/radar_sp.cache
